body {
   margin: 0;
   font-family: 'Roboto', sans-serif; 
}

header {
    height: 92px;
    width: 100%;
}

.container-top {
    display: flex;
    width: 100%;
}

.logo {
    margin-top: 36px;
    margin-left: 26%;
    width: 91px;
    height: 27px;
}

.link-sobre {
    margin-top: 38px;
    margin-left: 122px;
    width: 42px;
    height: 19px;
    
}

.link-sobre a{
    
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    font-weight: 400;
    opacity: 100%;
    
}

.link-receitas {
    margin-top: 38px;
    margin-left: 30px;
    width: 62px;
    height: 19px;
    
}

.link-receitas a{
    
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    font-weight: 400;
    opacity: 100%;
}

.rectangle {
    width: 940px;
    height: 400px;
    background-color:#FBDFDB;
    opacity: 100%;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
}


.melhores-receitas {
    width: 305px;
    height: 38px;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: 0;
    display: inline;
    color: #111111 100%;
    padding: 117px 259px 10px 60px;
    position: absolute;
}

.text-melhores-receitas {
    width: 305px;
    height: 84px;
    opacity: 70%;
    font-size: 18px;
    color: #000000 100%; 
    line-height: 28px;
    letter-spacing: 0;
    display: inline-block;
    position: absolute;
    padding: 165px 248px 117px 60px;
}

.text-melhores-receitas p {
    line-height:28px;
    margin: 0;
    width: 316px;
}

.chef {
    width: 216px;
    height: 300px;
    margin-right: 0;
    position: absolute;
    padding: 100px 100px 0px 624px;
}

.mais-acessadas  {
    margin-left: 26%;
    
}

.mais-acessadas p {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    width: 174px;
    height: 28px;
}

.pratos {
    margin-left: 26%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1015px;
    
}
.prato1 {
    width: 255px;
    height: 170px;

}

.prato1 img {
    width: 250px;
    height: 110px;
    border-radius: 12px;
}

h1 {
    width: 200px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    opacity: 100%;  
    color: #111111;
    font-family: 'Roboto', 'Roboto-Regular';
    margin: 1.8% 0 0.5% 0;
}

h2 {
    width: 130px;
    height: 14px;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0;
    opacity: 100%;  
    color: #777777;
    font-family: 'Roboto', 'Roboto-Regular';
    font-weight: normal;
}




.rodape {
    width: 100%;
    height: 62px;
    background-color: #EEEEEE ;
}

.rodape p {
    text-align: center;
    padding-top: 21px;
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto', 'Roboto-Regular';
    line-height: 16px;
}

