body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    
}

:root {
    font-size: 62.5%;
  }

#page-sobre {
   
    display: flex;
    min-height: 100vh;
}

.sidebar {
    min-height: 95%;
    width: 23rem;
    background: white;

}

.container-top {
    display: flex;
    width: 100%;
}

.logo {
    margin: 3.1rem 12rem 0 0;
    width: 9.4rem;
    height: 3.2rem;
}

.link-sobre {
    margin-top: 3.8rem;
    margin-right: 3.0rem;
    width: 4.3rem;
    height: 1.9rem;
}

.link-sobre a{
    
    text-decoration: none;
    font-size: 1.6rem;
    color: #111111;
    font: 700 1.6rem 'Roboto', sans-serif;
    opacity: 100%;
}

.link-receitas {
    margin-top: 3.8rem;
    width: 6.2rem;
    height: 1.9rem;
}

.link-receitas a{
    
    text-decoration: none;
    font-size: 1.6rem;
    color: #111111;
    font: 400 1.6rem 'Roboto', sans-serif;
    opacity: 100%;
}

.sobre-foodfy {
    margin: 5rem 0 0 0;
    font: 700 2.4rem 'Roboto', sans-serif;
    width: 16.4rem;
}

.first-text {
    width: 94rem;
    height: 28rem;
    margin: 2rem 23rem 0 0;
    display: inline-block;
    
}

.first-text p{
    
    line-height: 2.8rem;
    letter-spacing: 0;
    color: #444444;
    font: 400 1.8rem 'Roboto', sans-serif;
   
}


.como-tudo {
    margin: 0.5rem 0 0 0;
    font: 700 2rem 'Roboto', sans-serif;
    width: 20.5rem;
}

.second-text {
    width: 94rem;
    height: 28rem;
    margin: 2rem 23rem 0 0;
    display: inline-block;
}

.second-text p{
    
    line-height: 2.8rem;
    letter-spacing: 0;
    color: #444444;
    font: 400 1.8rem 'Roboto', sans-serif;

}

.third-text {
    width: 94rem;
    height: 28rem;
    margin: 2rem 23rem 0 0;
    display: inline-block;
}

.third-text p{
    
    line-height: 2.8rem;
    letter-spacing: 0;
    color: #444444;
    font: 400 1.8rem 'Roboto', sans-serif;
}

.nossas-receitas {
    margin: 0.5rem 0 0 0;
    font: 700 2rem 'Roboto', sans-serif;
    width: 20.5rem;
}

.rodape {
    width: 100%;
    height: 6.2rem;
    background: #EEEEEE;
}