<!DOCTYPE html>
<html>
    {% block head %}
    <head>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

        <link rel="icon" href="/images/chef.png">
            <link rel="stylesheet" href="">
       
        <title>
            Foodfy
        </title>
    </head>
    {% endblock %}

    
  
        {% block content %}
        {% endblock %}